# venv
.venv/
venv/
env/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# jupyter
*.ipynb
.ipynb_checkpoints/

# датасеты
NEU_surface_defects/

# модели
*.keras
*.h5

# IDE/ОС
.vscode/
.idea/
.DS_Store
Thumbs.db

# выводы
results/
training/results/
training/*.png
training/*.txt

# env
.env
*.swp
.pytest_cache/
